<div id="deleteModal" class="modal-overlay hidden">
    <div class="modal-box small">
        <h3>Kaydı Sil</h3>
        <p>Bu kişiyi silmek istediğinize emin misiniz?</p>

        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="delete">Sil</button>
            <button class="cancel" onclick="closeDeleteModal()">Vazgeç</button>
        </div>
    </div>
</div>
